<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#<%= favicon_link_tag asset_path('favicon_icon.png') %>
  </head>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>

  <body class="dungeon">
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

  <footer>
    <p>Done by
      <a href="https://www.linkedin.com/in/hervegodinot/" target="_blank"> Hervé Godinot</a> | <a href="https://github.com/hgodinot/ruby_rails_dungeon" target="_blank"> See on Github</a>
    <p>
  </footer>
</html>
